@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Itim&family=Pacifico&family=Poppins:wght@500;600&display=swap');

.hidden {
  display: none;
}
/* html {
  position: relative;
} */
body {
  /* width: 100%; */
  /* position: absolute; */
  /* height: 100%; */
  margin: 0;
  background-image: url("anh1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* backdrop-filter: blur(10px); */
}
.openpage {
  background-color: #5e6681;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.card {
  position: absolute;
  width: 300px;
  padding: 1.2rem 1.2rem;
  text-align: center;
  background: #2a2b38;
  /* margin: auto; */
  /* margin-top: 50%; */
  /* margin-bottom: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  /* z-index: 1000; */
}

/*Inputs*/
.form {
  margin-top: 0.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 0.5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 0.5em 1em;
}

/* .input-icon {
        height: 1em;
        width: 1em;
        fill: #ffeba7;
      } */

.form input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

/*Text*/
.card .title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
  font-family: "Dancing Script", cursive;
}
.card h5 {
  font-size: 1em;
}
.card p {
  font-family: poppins;
  font-size: 0.8em;
}

/*Buttons*/
.card button {
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all 0.3s ease-in-out;
}

/* .btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 0.75em;
  transition: color 0.3s ease-out;
} */

.card button:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

/* MAIN */
.main {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
}
.title-container {
  color: beige;
  font-family: "Pacifico", cursive;
  text-align: center;
  /* background-color: blue; */
}
.title-container h1 {
  font-family: "Pacifico", cursive;
  color: beige;
  font-size: 3em;
  text-shadow: 0 0 3px 3px #2a2b3870;;
}

.slideee-container {
  width: 100%;
  /* margin-bottom: 1em; */
}
p {
  width: 100%;
  color: beige;
  font-family: "Pacifico", cursive;
}

.buttons-container {
  width: 100%;
  height: max-content;
  /* background-color: gray; */
  display: flex;
  justify-content: space-evenly;
}
/* .box {
  position: relative;
  margin-bottom: 3%;

} */
.buttons-container button:first-child {
  position: relative;
  cursor: pointer;
  font-family: poppins;
  /* font-weight: 500; */
  font-size: 1.5em;
  box-shadow: 0 0 3px 3px #2a2b3870;
  color: #ffeba7;
  width: 30%;
  aspect-ratio: 10/3;
  border-radius: 8px;
  /* background-color: pink; */
  border: none;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 1%;
}
.buttons-container button:nth-child(2n) {
  position: relative;
  cursor: pointer;
  font-family: poppins;
  font-size: 1.5em;
  color: #ffeba7;
  box-shadow: 0 0 3px 3px #2a2b3870;
  width: 30%;
  aspect-ratio: 10/4;
  border-radius: 8px;
  /* background-color: pink; */
  background: #3A1C71;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  margin-bottom: 1%;
}
.buttons-container a {
  position: relative;
  cursor: pointer;
  width: 30%;
  font-family: poppins;
  font-size: 1.5em;
  box-shadow: 0 0 3px 3px #2a2b3870;
  color: #ffeba7;
  aspect-ratio: 10/4;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  font-family: 'Itim', cursive;
  text-align: center;
  width: 30%;
  aspect-ratio: 10/4;
  border-radius: 8px;
  /* background-color: pink; */
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); 
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); 
  border: none;
  margin-bottom: 1%;

  border: none;
  margin-bottom: 1%;
}

.buttons-container .content {
  position: relative;
  background-color: #5e6681;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
/* .content {
  display: none;
  overflow: hidden;
  transition: height 1s ease-out;
} */
.active {
  background-color: green;
}
/* .active + .content {
  height: 100px;
} */
@keyframes tranH {
  from {
    height: 0;
  }
  to {
    height: calc(100vw - 1em);
  }
}
.box-content {
  width: 100%;
  /* aspect-ratio: 4/3; */
  /* background-color: #2a2b38; */
  background: none;
  /* padding-top: 5%; */
  /* animation: tranH 1s; */
}
.box {
  border-radius: 8px;
  /* background-color: aqua; */
  margin: 1%;
  overflow: hidden;
  height: 0;
  /* aspect-ratio: 3/0; */
  /* animation: tranH 1s linear; */
  transition: all 0.5s ease;
}
.content {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding-top: 5%;
}

.box-active {
  height: calc(100vw - 1em);
}
/* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */

.first1 {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px #2a2b3870;
}

.first2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  font-family: 'Itim', cursive;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  padding: 30%;
}

.first2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first2 div {
  position: absolute;
  top: 50%;
  text-align: center;
}
.first2:nth-child(1n) {
  background-image: url("st1.jpg");
}
.first2:nth-child(2n) {
  background-image: url("st2.jpg");
}
.first2:nth-child(3n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(4n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(6n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(7n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(8n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(9n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(10n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(11n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(12n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(13n) {
  background-image: url("st3.jpg");
}
.first2:nth-child(14n) {
  background-image: url("st3.jpg");
}

/* 222 */
.mySwiper2 {
  width: 240px;
  height: 320px;
}

.second2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
}
.second2 img {
  width: 100%;
}

.second2:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.second2:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.second2:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.second2:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.second2:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.second2:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.second2:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.second2:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.second2:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.second2:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

/* 333 */
.third1 {
  margin: 100px auto;
  width: 80%;
  /* height: 240px; */
  aspect-ratio: 1/1;
  transform: translateY(-20%);
}

.third2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  /* background-color: blue; */
}
.third2 img {
  width: 100%;
}

.third2:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.third2:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.third2:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.third2:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.third2:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.third2:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.third2:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.third2:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.third2:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.third2:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

